.cards {
    width:100%;
    height: 100%;
    background: #FFF;
    padding-top: 0;
    display: flex;
    flex-direction:row;
    font-family: 'Wire One', sans-serif;
}
.cards .textcontainer{
    margin-left: 6%;
    padding-top: 50px;
    width: 50vh;
    display: flex;
    flex-direction:column;
}
.textcontainer h1{
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: 800;
}
.textcontainer p{
    font-size: 30px;
}
.itembox {
    padding: 2rem;
  }
.itemcontainer{
    width: 90%;
    display: flex;
    flex-flow: column;
    margin: 0;
}
.items{
    margin-bottom: 20px;
    display: flex;
    flex-flow: row-wrap;
}
.project_items{
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    margin: 20px;
}
.wrapper {
    position: relative;
    margin-top: 30px;  
  }
.project_item_link{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 250px;
    box-shadow: 0 30px 40px rgba(26, 11, 102, 0.27);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.3s;
    background: #0a081d;
}
.project_item_link:hover{
    transform: scale(0.98);
}
.project_item_wrap{
  position: relative;
  width: 100%;
  padding-top: 80%;
  margin-top:0;
  overflow: hidden;
}
.project_item_wrap::after {
    content: attr(data-category);
    position: relative;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 15 px;
    font-weight: 700;
    box-sizing: border-box;
  }
.item_img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;

}
.item_img:hover {
    transform: scale(1.03);
}
.project_item_info {
    padding: 0px 2px 15px;
  }
.project_item_text {
    color: #F3FFE7;
    font-size: 24px;
    line-height: 24px;
  }

@media only screen and (max-width: 650px) {
    .cards{
        height: 100%;
        display: flex;
        flex-direction:column;
        align-items:center;
    }
    .cards .textcontainer{
        align-items:center;
        margin:0;
        margin-top: 20px;
        padding-bottom: 0;
    }
    .cards h1{
        font-size: 60px;
        margin-top:0;
        margin-bottom: 0px;
        font-weight: 800;
    }
    .cards p{
        font-size: 25px;
    }
    .itembox{
        align-items: center;
    }
    .project_items {
        margin-top: 0;
        margin-left: 0;
        display: flex;
        margin-bottom: 25px;
      }
    .items{
        margin-bottom: 20px;
        display: flex;
        flex-flow: column;
    }
    .project_item_link{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 250px;
        margin-bottom: 20px;
    }
    .project_item_wrap{
        position: relative;
        width: 100%;
        padding-top: 60%;
        margin-top:0;
        overflow: hidden;
      }

}
@media only screen and (max-width: 1250px){
    .cards{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 950px){
    .project_item_link{
        align-items:center;
        width: 200px;
        margin-bottom: 20px;
    }
}


