.App {
  width: 100%;
  height: auto;
  display: flex;
  background-color: black;
  flex-direction: column;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin:0;
}
.hidden{
  opacity:0;
  filter:blur(3px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity:1;
  filter:blur (0px);
  transform: translateX(0%);
}
@media(prefers-reduced-motion) {
  .hidden {
    transition:none;
  }
}